/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
/* variables */
/* Mixins */
.border {
  border: 3px solid #66cc99;
}
.background {
  background: white;
}
/*  */
.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}
.list-content a {
  color: #66cc99;
  text-decoration: none;
}
.resume-container {
  position: relative;
  text-align: center;
  height: 100%;
}
.container {
  min-height: 600px;
}
.profile {
  background: #fff;
  width: 40%;
  float: left;
  color: #9099a0;
}
.profile .name-wrapper {
  float: left;
  width: 60%;
}
.profile .picture {
  width: 220px;
  height: 220px;
  background-size: cover;
  margin-right: 0px;
  display: table;
  position: relative;
  vertical-align: middle;
}
.profile .picture span {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
.profile .picture img {
  border-radius: 50%;
  width: 130px;
}
.profile h1 {
  font-size: 2.5em;
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  color: #4a4e51;
  text-transform: uppercase;
  line-height: 1em;
  padding-top: 40px;
}
.profile li {
  margin-bottom: 10px;
}
.profile .contact-info {
  margin-top: 150px;
  font-weight: 300;
}
.profile .list-titles {
  float: left;
  text-align: right;
  padding-right: 1rem;
  font-weight: 600;
  width: 40%;
  color: #4a4e51;
}
.profile .list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
}
.profile .contact-presentation {
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 500px) {
  .profile .profile .resume-picture-wrapper {
    width: 100%;
  }
  .profile .profile .resume-picture-wrapper h1 {
    padding-top: 20px;
    font-size: 1.8em;
  }
  .profile .profile .resume-picture-wrapper .picture img {
    width: 50px;
  }
  .profile .profile .resume-picture-wrapper .picture {
    width: 75px;
    height: 75px;
  }
  .profile .profile .resume-picture-wrapper .contact-info {
    margin-top: 55px;
  }
  .profile .profile .resume-picture-wrapper .contact-presentation {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .profile .profile .resume-picture-wrapper .experience .company-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .profile .profile .resume-picture-wrapper .experience .job-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
  .profile .profile .resume-picture-wrapper .section-padding {
    padding: 40px 10% 20px 5%;
  }
  .profile .profile .resume-picture-wrapper .section-wrapper {
    width: 100%;
  }
}
.experience {
  background: #3d3e42;
  width: 60%;
  float: left;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
  border: 3px solid #66cc99;
}
.experience h3.experience-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.experience .company-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
.experience .job-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
.experience .experience-title {
  color: white;
  margin-bottom: 15px;
}
.experience .section-padding {
  padding: 60px 60px 40px 40px;
}
.section-wrapper {
  width: 100%;
  float: left;
  text-align: left;
  color: #9099a0;
  font-weight: 300;
  margin-bottom: 20px;
}
.section-wrapper h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}
.section-wrapper .skill {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
